.disableClick {
  pointer-events: none;
}

#code-quiz,
#game-over,
#scores-table {
  display: none;
}

#initials {
  width: 50%;
  margin: 0em auto 1em auto;
}

#highScores {
  width: 50%;
  margin: auto;
}

#code-quiz {
  margin-top: 25%;
}

#code-quiz-question {
  margin-bottom: 1em;
  font-size: 2em;
}

.code-quiz-options {
  padding: 1em;
}

.lead {
  font-size: 0.9em;
}
